/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/login/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/

.page_formContainer__vYA_i {
  background-color: #ffffff;
  padding: 5%;
}

.page_formBox__rLsoc {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 3%;
    width: 30%;
    height: 90%;
    margin: 0 auto;
    border-radius: 8px;
    border: 0.5px solid #626161;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.page_formTexto__bCZny {
    margin-bottom: 15px;
    text-align: center;
}
  
.page_formEtiqueta__uTEzC {
    display: block;
    margin-bottom: 10px;
    margin-left: 5%;
    font-size: 16px;
    color: #333333;
}
  
.page_formInput__xMJwe {
    width: 80%;
    padding: 10px;
    margin-left: 5%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 24px;
}
  
.page_formButton__V_cuY {
    width: 40%;
    margin-top: 4%;
    margin-bottom: 6%;
    margin-left: 30%;
    padding: 10px;
    color: #ddd;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
    background: #585757;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.page_formButton__V_cuY:hover {
  background: #717070 ;
}

.page_formMensaje__DYbHR{
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

