/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.15_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.15_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/ui/GalleryComponents/imageArte.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.imageArte_galleryBox__zKTOp{
    width: 30%;
    height: 40%;
    background: #ffffff;
    margin: auto;
    padding: 3%;
    box-sizing: border-box;
    align-self: center;
}

.imageArte_galleryNombreArte__CPMbO {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 150%;
    color: #000000;
    margin-bottom: 7%;

}

.imageArte_galleryButton__Z02sz {
    color: #000000;
    width: 25%;
    font-family: "Montserrat", sans-serif;
    font-size: 150;
    font-weight: 500;
    margin-left: 75%;
    margin-top: 3%;
    cursor: pointer;
    padding: 1%;
    border: none;

}

.imageArte_galleryButton__Z02sz:hover {
    color: #b7cccb;
    background-color: #000000;
    box-shadow: 0px 0px 10px #767474;
}

.imageArte_galleryImagen__TurPO {
    object-fit: cover ;
    width: 100%;
    height: 80%;
    filter: drop-shadow(0 2px 5px rgba(188, 185, 185, 0.7));
}

@media (max-width: 900px ) {
    .imageArte_galleryButton__Z02sz {
        font-size: 100;
        width: 50%;
        margin-left: 50%;
    }

    .imageArte_galleryNombreArte__CPMbO{
        text-align: center;
    }
    
}

@media (max-width: 1400px ) {
    .imageArte_galleryButton__Z02sz {
        font-size: 100;
        width: 30%;
        margin-left: 40%;
    }

    .imageArte_galleryNombreArte__CPMbO{
        text-align: center;
    }
    
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.15_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.15_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/esculturas/page.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.page_esculturasSect__njs4Y {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 100% ;
    height: 50% ;
    box-sizing: border-box;
    text-align : center;
    margin-bottom : 2.5%;
    padding: 1.5% ;

}

.page_esculturasHeader__Hffw3 {
    text-transform : uppercase;
    font-size: 3.5rem;
    color: #000000;
    margin-top: 5%;
    margin-bottom: 3.5%;

}

.page_esculturasText__ZjnKj {
    font-size: 150%;
}

.page_esculturasPortada__ighBS {
    width: 90%;
    display: flex; 
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5%;
    margin-bottom: 10%;

}

@media (max-width: 1400px ) {
    .page_esculturasPortada__ighBS {
        flex-direction: column;
        align-items: center;
    }
}



.page_esculturasSeleccionadas__jeg0I { 

}

.page_esculturasPag__4B6Ix {
    margin: auto;
}
