# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*.md
!README.md

# dependencies
node_modules/
.next/
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/

# Backend build output
/backend/

.vercel

# Ignore .env files
**/.env

# Ignore sqlite3asql directory
/sqlite3asql/