/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/votaciones/[slug2]/page.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.page_estrellas__avDvI{
    cursor: pointer;
    font-size: 2rem;
}

.page_seleccionadas__HyoP9 {
    color: #d4ae04;
}

.page_votacionCard__nAiAC{
    box-sizing: border-box;
    padding: 10%;
    display: flex;
    column-gap: 2%;
}

.page_votacionCardNombre__aOwgX{
    font-size: 250%;
}

.page_votacionCardAviso__K_dwi {
    color: red; 
    font-size: 100%;
}

.page_votacionCardDescrip__Tp078 {
    margin-bottom: 3%;
}

.page_votacionCardEscultor__AWb1H{
    margin-bottom: 4%;
    font-size: 150%;

}

.page_votacionCardPuntaje__BgozJ{
    margin-bottom: 2%;
    font-size: 150%;

}

.page_votacionCardInput__UEjc3 {
    margin-bottom: 2%;
    font-size: 150%;
    border: none;
    padding: 0.7rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
		-20px -20px 60px #ffffff;
}

.page_votacionCardBoton__GC26s {
    font-size: 16px;
    position: relative;
    margin-left: 3%;
    padding: 1em 2em 1em 2em;
    border: none;
    background: #fff;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}


.page_votacionCardBoton__GC26s:hover{
    box-shadow: 0 0.4em 1em rgba(101, 99, 99, 0.1);
    }


.page_votacionCardImg__g1wZd {
    box-sizing: border-box;
    padding: 2%;
    width: 50%;
    height: 80%;

}

.page_votacionCardImagen__sXZ5t {
    width: 100%;
    height: 100%;
}

.page_votacionCardInfoBox__aowyT {
    box-sizing: border-box;
    padding: 2%;
    width: 50%;
    height: 80%;
}
