.galleryBox{
    width: 85%;
    height: 100%;
    background: #b7cccb;
    margin: auto;
    padding: 3%;
    box-sizing: border-box;
    border: 1px solid #424242;
    border-radius: 5%;
}

.galleryBox:hover {
    box-shadow: 0px 0px 20px #424242;
}

.galleryNombreArte {
    font-family: var(--font-geist-mono);
    font-size: 150%;
    color: #005067;
    margin-bottom: 5%;

}


.galleryButton {
    color: #005067;
    font-family: 'Cambria';
    font-size: 200;
    font-weight: 800;
    margin-left: 80%;
    margin-top: 3%;
    border: 3px solid #005067;
    background: linear-gradient(to right, #b7cccb 50%, #005067 50%);
    background-size: 200%;
    background-position: left;
    background-repeat: no-repeat;
    transition: background-position .5s ease;
    cursor: pointer;
    padding: 1.5%;

}

.galleryButton:hover {
    color: #b7cccb;
    background-position: right;
    box-shadow: 0px 0px 10px #767474;
}

.galleryImagen {
    justify-content: stretch;
}