
.esculturaDescriptTitulo {
    color: #136b9c;
    padding: 3% 2.5% 1.5% 5%;
}

.esculturaEtapasContainer {
    width: 90%;
    padding: 2.5%;
    margin: 3% 2.5% 1.5% 5%;
    box-sizing: border-box;
    display: grid;
    gap: 50px;
    background-color: #58a0d4 ;
    margin-bottom: 7%;

}

.esculturasEtapasBox{
    color: #022030;
    width: 40%;
    border: 2px solid #000;
    padding: 2.5%;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    

}

.esculturaDescription {
    font-style:italic;
    font-size: 150%;
    padding: 3% 2.5% 1.5% 5%;
    text-align: left;

}


