@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.formContainer {
  background-color: #ffffff;
  padding: 5%;
}

.formBox {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 3%;
    width: 30%;
    height: 90%;
    margin: 0 auto;
    border-radius: 8px;
    border: 0.5px solid #626161;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.formTexto {
    margin-bottom: 15px;
    text-align: center;
}
  
.formEtiqueta {
    display: block;
    margin-bottom: 10px;
    margin-left: 5%;
    font-size: 16px;
    color: #333333;
}
  
.formInput {
    width: 80%;
    padding: 10px;
    margin-left: 5%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 24px;
}
  
.formButton {
    font-family: "Montserrat", sans-serif;
    width: 40%;
    margin-top: 4%;
    margin-bottom: 6%;
    margin-left: 30%;
    padding: 10px;
    color: #ddd;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
    background: #3e3e3e;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.formButton:hover {
  background: #717070 ;
}

.formMensaje{
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    color: red;
    text-decoration:double;
}

@media (max-width: 768px) {
    .formBox {
    width: 70%;
    height: 90%;
    }
}
  