@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.misEsculturasBox {
    font-family:"Montserrat", sans-serif;
    max-width: 80vw;
    margin:auto;
    margin-bottom: 40px;
}

.qr{
    text-align: center;
}