/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/votaciones/[slug]/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.page_estrellas__YsUmv{
    cursor: pointer;
    font-size: 2rem;
}

.page_seleccionadas__7qds7 {
    color: #d4ae04;
    
}
