@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos generales */
main {
    padding: 0 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
  }

  .boton{
    cursor: pointer;
    background-color:#e0e0e0 ;
    color: rgb(15, 15, 15);
    margin-top: 0.9%;
    margin-left: 1.5%;
    padding: 10px 16px;
    display: inline-block;
    box-shadow: 0px 0px 10px #767474;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    transition-duration: 0.4s;
}
.boton:hover{
    background-color:#333333 ;
    padding: 12px 20px;
}

.boton:active{
    text-decoration: none;
}

.rootHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px 20px;
}
  
.rootLogoPrincipal {
    width: auto;
    order: 1;
    margin-right: 20px;

}

/* Header */
.rootHeaderTitulo {
    font-size: 30px;
}

.rootHeaderFormContainer{
    width: 20%;
    margin-left: auto;
    order: 3;
}

.rootHeaderUsuario{
    display: inline-block;
    color: #f4f4f4;
    padding:2%;
    text-decoration: none;
    margin:2%;
}
.rootLista{
    list-style-type: none;
}

.rootHeaderUsuario:hover{
    border: none;
    padding: 2%;
    color: #f4f4f4;
    text-decoration:underline;
}

.rootHeaderRetorno{
    color: #fff;
    text-decoration: none;
    order: 2;
}

.rootHeaderRetorno:hover{
    text-decoration: none;
}

  /* Footer */
.rootFooter {
    background-color: var(--color-primary);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
  
.rootFooter p {
    margin: 0;
}

.link-panel {
    color: azure;
    text-decoration: none;
    border: 1px solid azure;
  }

.footerSocial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.link-panel{
    border:none;
}

.footerText {
    margin-top: 10px;
}
