@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.galleryBox{
    width: 80%;
    height: 65%;
    background: #ffffff;
    padding: 0%;
    box-sizing: border-box;
    align-self: center;
}

.galleryNombreArte {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 150%;
    color: #000000;
    margin-bottom: 7%;

}

.galleryButton {
    color: #000000;
    width: 25%;
    font-family: "Montserrat", sans-serif;
    font-size: 150;
    font-weight: 500;
    margin-left: 75%;
    margin-top: 3%;
    cursor: pointer;
    padding: 1%;
    border: none;

}

.galleryButton:hover {
    color: #b7cccb;
    background-color: #000000;
    box-shadow: 0px 0px 10px #767474;
}

.galleryImagen {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: drop-shadow(0 2px 5px rgba(188, 185, 185, 0.7));
}

@media (max-width: 900px ) {
    .galleryButton {
        font-size: 100;
        width: 50%;
        margin-left: 50%;
    }

    .galleryNombreArte{
        text-align: center;
    }
    
}

@media (max-width: 1400px ) {
    .galleryButton {
        font-size: 100;
        width: 30%;
        margin-left: 40%;
    }

    .galleryNombreArte{
        text-align: center;
    }
    
}