/* styles.css */

/* Estilos generales */
.rootMain {
  padding: 20px;
}

/* Header */
.rootHeader {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 20px;
}

.rootLogoPrincipal {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.rootHeaderTitulo {
  font-size: 24px;
}

/* Sección de cita */
.rootPageCita {
  background-color: var(--color-highlight);
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid var(--color-primary);
}

.rootCitaTitulo {
  font-size: 20px;
  font-style: italic;
  margin: 0 0 10px 0;
}

.rootCitaParrafo {
  font-size: 16px;
  margin: 0;
}

.rootPresentacion {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
  color: #333;
}

/*secion de tabla*/
.gridTabla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.gridItem {
  background-color: var(--color-background);
  padding: 20px;
  border-radius: 8px;
}

/* Estilos para títulos y párrafos */
.rootTituloTexto {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.rootTexto {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Navegación Principal*/

.gridImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas con el mismo ancho */
  gap: 20px; /* Espacio entre las imágenes */
}

.rootNavContenedor {
  text-align: center;
}

.rootNavImagen {
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  height: auto;
  transition: transform 0.3s ease;
}

.rootNavImagen:hover {
  transform: scale(1.05); /* Efecto de agrandamiento al pasar el cursor */
}

.rootNavTitulo {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 480px) {
  .gridImages {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
  }
}

/* Navegación Interna */
.rootSeccionNavegacion {
  margin: 20px 0;
}

/* InfoExtra */
.menu {
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px;
}

.enlaces {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.enlace__info,
.enlace__map,
.enlace__predio {
  color: #fff;
  text-decoration: none;
}

.info {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}

.info__entrada,
.info__instalaciones {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.info__instalaciones__lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info__instalaciones__lista li {
  margin: 5px 0;
}

/* Mapa */
.mapResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.mapResponsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Predio */
.predio {
  margin: 20px 0;
}

/* Footer */
.rootFooter {
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.rootFooter p {
  margin: 0;
}
