/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/ui/GalleryComponents/imagenEscultores.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.imagenEscultores_esculturaContenedor__H1cOT{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 2.5%;
    padding: 1.5%;
}

.imagenEscultores_escultorBandera__U7xok{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align : center;
    margin-bottom : 2.5%;
    padding: 1.5%;
}

.imagenEscultores_escultorRedireccion__oh3YP{
    border: none 1px;
    width: auto;
    height: auto;
}

  .imagenEscultores_escultorTitulo__mOR02 {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/escultores/page.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.page_escultoresSect__SzrEV {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 100% ;
    height: 50% ;
    box-sizing: border-box;
    text-align : center;
    margin-bottom : 2.5%;
    padding: 1.5% ;

}

.page_escultoresHeader__GY6Uv {
    font-family: "Montserrat", sans-serif;
    text-transform : uppercase;
    font-size: 3.5rem;
    color: #000000;
    margin-top: 5%;
    margin-bottom: 3.5%;

}

.page_escultoresText___YmZR {
    font-family: "Montserrat", sans-serif;
    font-size: 150%;
}

.page_escultoresPortada__Yb279 {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;
gap: 20px;
    padding: 5%;
    margin-bottom: 10%;
    box-sizing: border-box;

}

@media (max-width: 1400px ) {
    .page_escultoresPortada__Yb279 {
        flex-direction: column;
        align-items: center;
    }
}



