/*Estilos de la página escultores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
};


.sculpHead{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
};